# 1. Target 目标机型配置（兆能 ZN-M2 / IPQ6000）
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_zn_m2=y

# 2. 移除 WiFi 驱动与组件（无无线纯有线路由精简，腾出大量闪存空间）
# CONFIG_PACKAGE_kmod-ath11k is not set
# CONFIG_PACKAGE_kmod-ath11k-ahb is not set
# CONFIG_PACKAGE_kmod-ath11k-pci is not set
# CONFIG_PACKAGE_ath11k-firmware-ipq6018 is not set
# CONFIG_PACKAGE_wpad-basic-mbedtls is not set
# CONFIG_PACKAGE_hostapd-common is not set

# 3. 全局语言环境设置（默认简体中文）
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y

# 4. 核心网络加速（Turbo ACC & BBR）
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_BBR-CC=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_PDNSD=y

# 5. 高通 NSS 硬件加速支持
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-ecm=y

# 6. 你指定的核心插件
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_easytier=y
CONFIG_PACKAGE_luci-app-easytier=y
CONFIG_PACKAGE_rtp2http=y
CONFIG_PACKAGE_luci-app-rtp2http=y

# 科学上网 PassWall 及其防污染组件
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_Iptables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall_Nftables_Transparent_Proxy=y

# 集客 AC 控制器
CONFIG_PACKAGE_luci-app-xap=y

# 7. 视觉外观（使用 Argon 漂亮主题）
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
